/*-- scss:defaults --*/

// fonts
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

// color

$theme-red: #e21833;
$theme-red-dark: #951022;
$theme-gold:  #ffd000;;
$theme-white: #ffffff;
$theme-grey: #434a4f;
$theme-grey2:#2b2e30;
$theme-blue2: #4287f5; // O el color que prefieras para los enlaces


// font family
$presentation-heading-color: #e21833 !default;
$h1-font-family: 'Crimson Text', serif;
$title-font-family: 'Crimson Text', serif; // Font for the title
$other-heading-font-family: 'Source Sans 3', sans-serif;
$body-font-family: 'Source Sans 3', sans-serif;
$font-family-monospace: 'Source Code Pro', monospace !default;

// font size
$presentation-heading-font-weight: 800;
$presentation-h1-font-size: 2em;
$presentation-h2-font-size: 1.7em;
$presentation-h3-font-size: 1.4em;
$presentation-h4-font-size: 1.1em;
$presentation-font-size-root: 40px;
$presentation-line-height: 1.5em;


// font color
$presentation-heading-color: $theme-red;
$code-block-font-size: 0.7em;
$code-block-border-color: $theme-grey;


// bg colours
$body-color: $theme-grey;
$link-color: $theme-red-dark;
$link-color-hover: darken($theme-red-dark, 15%);


h1 {
  font-family: $h1-font-family;
  color: $presentation-heading-color;
  font-weight: $presentation-heading-font-weight;
  font-size: $presentation-h1-font-size;
}

.title {
  font-family: $title-font-family; // Ensure the title uses Crimson Text
  color: $presentation-heading-color;
}

h2, h3, h4, h5, h6, p {
  font-family: $other-heading-font-family;
}

.inverse {
  background-color: #FFD000; /* Yellow background */
  color: #434a4f; /* Grey text */
  
  /* Ensure the slide takes up the full width and height */
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inverse h1, .inverse h2, .inverse h3, .inverse h4, .inverse h5, .inverse h6, .inverse p, .inverse li, .inverse a {
  color: #434a4f; /* Grey text */
}

.inverse a {
  text-decoration: underline;
  color: #951022; /* Dark red color for links */
}

.inverse a:hover {
  color: #e21833; /* Lighter red color for links on hover */
}

.middle-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

/*-- scss:rules --*/


// Estilos para enlaces
a {
  color: $link-color;
  text-decoration: underline;

  &:hover {
    color: $link-color-hover;
    text-decoration: underline;
  }
}
$body-bg: $theme-white;

// Apply the font styles

section.has-dark-background a, section.has-dark-background a:hover {
  color: $body-bg;
}

.highlight-word {
  background-color: $theme-gold;
  color: $theme-grey;
  padding: 0 3px; /* Optional: adds some padding around the word */
}

figure>figcaption {
  font-size: 1em;
  line-height: 1em;
}

details>summary {
    color: $theme-blue2;
}


//////////////////////// white /////////////////////////////////

// Estilo para el footer

.reveal .footer {
    color: $theme-red-dark;
    background-color: $theme-red;
    display: block;
    position: fixed;
    padding-bottom: 12px;
    padding-top: 12px;
    bottom: 0px !important; // Makes footer div flush with bottom of slide
    width: 100%;
    z-index: 2 !important; // Sets the footer div further down the z-index
  }
  
  


//////////////////////// white /////////////////////////////////


//.fas, .fa-solid {
//    font-family: 'Font Awesome 6 Free';
//    font-weight: 900;
//    color: $theme-blue;
//}

//.fab, .fa-brands {
//    font-family: 'Font Awesome 6 Brands';
//    font-weight: 400;
//    color: $theme-blue;
//}

.author {
  color: $theme-white;
}

.footer-image {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    background-image: url('https://www.clipartmax.com/png/middle/35-358224_former-names-university-of-maryland-college-park-seal.png');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.8; /* Adjust the transparency */
    z-index: 9999;
  }
  
.reveal pre.sourceCode code {
    max-height: 650px;
    overflow: auto;
}

.reveal code {
    color: lighten( $theme-red, 7% );
    background-color: rgba(0,0,0,0);
    white-space: pre-wrap;
}


.custom-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 40px; /* Adjust height as needed */
    background-color: #e21833; /* Background color for footer */
    color: #ffffff; /* Text color */
    width: 100%; /* Ensure it takes full width */
    padding: 0 20px; /* Add padding for spacing */
}

.footer-logo {
    position: absolute;
    right: 55px; /* Distance from the right edge */
    height: 45px; /* Adjust height as needed */
    vertical-align: middle;
}

.center {
  text-align: center;
}